<!DOCTYPE html>
<html>
<head>
	<title>Behes Round Scheduler</title>
</head>
<body>
	<form action = "/uploader" method = "post" 
		enctype = "multipart/form-data">
		<input type = "file" name = "file" />
		<input type = "submit" value="submit" />
	</form>

	<p> upload a .csv file so that the first row starts with the first participant and the first column starts with serial number (as in the roster).<br/>
		The lions and the cubs csvs will have to uploaded in 2 separate iteration, as it only takes one csv upload at a time.
	</p>
</body>
</html>