<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/index.css') }}">
	<title>Behes Round Scheduler</title>
</head>
<body>
	<form action = "/uploader" method = "post" 
		enctype = "multipart/form-data">
		excel format (.xls, .xlsx) roster <input type = "file" name = "file" /><br><br>
		number of rounds <input type="number" name = "num_rounds" placeholder="Number of rounds"/><br><br>
		<input type = "submit" value="submit" />
	</form>

	<br/>
	<br/>
	<small>Fixed the issue where some teams are randomly not showing up in a round</small>
	<br/>
	<small>*However, the program will commit suicide if the number of requested rounds is more than half the total number of teams</small>

</body>
</html>